body{
    background-color: pink;
}

h1{
            text-align: center;
        }
        p{text-align: center;
        font-size: large;}
        img{
            width:500px;
            display: block ;
        }
        footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: rgb(43, 7, 201);
}